//Right side container
.contents {
    @include flex-center();
    background: rgb(32, 18, 90);
    background: linear-gradient(183deg, rgba(32, 18, 90, 1) 0%, rgba(31, 19, 81, 1) 44%, rgba(18, 19, 19, 1) 100%);
    width: 100%;
    .nav-chev-div {
        height: 50px;
        width: 80vw;
        margin: 10px auto;
        margin-left: 25px;
        // border: 1px solid $white;
        @include flex-center();
        .nav-btn-div {
            height: 30px;
            width: 30px;
            margin: auto 0;
            margin-left: 17px;
            border-radius: 100%;
            background-color: #130A33;
            @include flex-center();
            justify-content: space-around;
            align-items: center;
            cursor: no-drop;
            .prev::before {
                @include chevrons();
                left: 0.25em;
                transform: rotate(-135deg);
            }
            .next::before {
                @include chevrons();
                left: -0.17em;
                transform: rotate(45deg);
            }
        }
    }
}