//Right side container
.contents {
    display: flex;
    background: rgb(32, 18, 90);
    background: linear-gradient(183deg, rgba(32, 18, 90, 1) 0%, rgba(31, 19, 81, 1) 44%, rgba(18, 19, 19, 1) 100%);
    width: 100%;
    .nav-chev-div {
        margin: 10px auto;
        margin-left: 5px;
        display: flex;
        .nav-btn-div {
            height: 30px;
            width: 30px;
            margin: auto 0;
            margin-left: 17px;
            border-radius: 100%;
            background-color: #130A33;
            display: flex;
            justify-content: space-around;
            align-items: center;
            cursor: no-drop;
            .prev::before {
                @include chevrons();
                left: 0.25em;
                transform: rotate(-135deg);
            }
            .next::before {
                @include chevrons();
                left: -0.17em;
                transform: rotate(45deg);
            }
        }
    }
    //end of chevrons < >
    .contents-nav-div {
        display: flex;
        height: 50px;
        width: 82vw;
        margin: 8px auto;
        margin-left: 25px;
        justify-content: flex-end;
        align-items: center;
        .nav-btn-container {
            display: flex;
            justify-content: flex-end;
            .upgrade-div {
                height: 32px;
                margin: 10px auto;
                margin: auto 15px;
                width: fit-content;
                border: 0.9px solid #c4c4c4c4;
                border-radius: 16px;
                background-color: #020911;
                display: flex;
                align-items: center;
                cursor: pointer;
                span {
                    color: $white;
                    font-family: Poppins;
                    padding: 10px;
                    font-size: 0.7em;
                    letter-spacing: 1.75px;
                    margin: 0 20px;
                }
            }
            .user-div {
                height: 33px;
                width: fit-content;
                border-radius: (33px/2);
                margin: auto 15px;
                background-color: #020911;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                cursor: pointer;
                .user-logo {
                    height: 28px;
                    width: 28px;
                    margin: 1px;
                    background-color: #525352;
                    border-radius: 100px;
                }
                span {
                    color: $white;
                    font-family: Poppins;
                    padding: 7px;
                    font-size: 0.8em;
                }
                p {
                    color: $white;
                    font-size: 1.5em;
                    margin: 2.5px 3px;
                }
            }
        }
    }
} //main contents div