//Right side container
.contents {
    background: rgb(32, 18, 90);
    background: linear-gradient(183deg, rgba(32, 18, 90, 1) 0%, rgba(31, 19, 81, 1) 0%, rgba(18, 19, 19, 1) 100%);
    width: 100%;
    .nav-chev-div {
        margin: 10px auto;
        margin-left: 5px;
        display: flex;
        .nav-btn-div {
            height: 30px;
            width: 30px;
            margin: auto 0;
            margin-left: 17px;
            border-radius: 100%;
            background-color: #130A33;
            display: flex;
            justify-content: space-around;
            align-items: center;
            cursor: no-drop;
            .prev::before {
                @include chevrons();
                left: 0.25em;
                transform: rotate(-135deg);
            }
            .next::before {
                @include chevrons();
                left: -0.17em;
                transform: rotate(45deg);
            }
        }
    }
    //end of chevrons < >
    .contents-nav-div {
        display: flex;
        height: 50px;
        width: 82vw;
        margin: 8px auto;
        position: sticky;
        top: 10px;
        // margin-left: 25px;
        justify-content: flex-end;
        align-items: center;
        .nav-btn-container {
            display: flex;
            justify-content: flex-end;
            .upgrade-div {
                height: 32px;
                margin: 10px auto;
                margin: auto 15px;
                width: fit-content;
                border: 0.9px solid #c4c4c4c4;
                border-radius: 16px;
                background-color: #020911;
                display: flex;
                align-items: center;
                cursor: pointer;
                span {
                    color: $white;
                    font-family: Poppins;
                    padding: 10px;
                    font-size: 0.7em;
                    letter-spacing: 1.75px;
                    margin: 0 20px;
                }
            }
            .upgrade-div:hover {
                transform: scale(1.1);
            }
            .user-div {
                height: 33px;
                width: fit-content;
                border-radius: (33px/2);
                margin: auto 15px;
                background-color: #020911;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                cursor: pointer;
                .user-logo {
                    height: 28px;
                    width: 28px;
                    margin: 1px;
                    background-color: #525352;
                    border-radius: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        height: 65%;
                        width: 65%;
                    }
                }
                span {
                    color: $white;
                    font-family: Poppins;
                    padding: 7px;
                    font-size: 0.8em;
                }
                p {
                    color: $white;
                    font-size: 1.25em;
                    margin: 2.5px 3px;
                }
            }
        } //nav-btn-container
    } //content-nav-div
    .hero-content {
        display: grid;
        height: fit-content;
        width: 80vw;
        margin: 20px auto;
        .greet {
            span {
                color: $white;
                font-family: Poppins;
                font-size: 32px;
                margin: 10px 0;
            }
        }
        //six-main-div
        .six-div-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
            row-gap: 16px;
            column-gap: 20px;
            margin: 16px 5px;
            .six-div {
                height: 80px;
                background-color: #c4c4c41a;
                border-radius: 5px;
                display: flex;
                align-items: center;
                //image inside six hero .six-div
                .six-img {
                    height: 100%;
                    width: calc(100% - 80%);
                    background-color: #c4c4c4c4;
                    opacity: 1 !important;
                    border-radius: 5px 0 0 5px;
                    box-shadow: 1px 0px 20px #17171784;
                }
                .six-playlist-title {
                    background-color: transparent;
                    p {
                        font-family: poppins;
                        letter-spacing: 1px;
                        font-weight: bold !important;
                        margin: 10px;
                        color: #fff;
                    }
                }
                .six-div-btn {
                    height: 47px;
                    width: 47px;
                    border-radius: 100%;
                    background-color: #1FD660;
                    position: relative;
                    left: 50%;
                    border: 0.1px solid #17171736;
                    box-shadow: 0 6px 8px #171717b8;
                    display: none;
                    transition: all 1s;
                    img {
                        position: relative;
                        height: 20px;
                        width: auto;
                        left: 18px;
                        top: 13px;
                    }
                }
                .six-div-btn:hover {
                    height: 49px;
                    width: 49px;
                }
            }
        } //six-hero-playlist-end
        .six-div:hover {
            background-color: #c4c4c444;
            cursor: pointer;
            transition: all 0.5s;
            transition-timing-function: ease;
        }
        .six-div:hover {
            transition: all 1s;
            transition-timing-function: ease;
            .six-div-btn {
                display: block;
            }
        }
    } //hero-content
    //list of contents :)
    .content-list-container-1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, auto);
        .list-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 30px;
            padding-bottom: 0;
            p {
                font-family: poppins;
                color: #fff;
                font-size: 22px;
                letter-spacing: -1px;
                margin: 0;
            }
            a {
                text-decoration: none;
                color: rgb(162, 162, 162);
                font-family: Poppins;
                font-size: 14px;
            }
        }
        .content-list {
            display: flex;
            margin: 20px 30px;
            .list-content-data {
                position: relative;
                height: 260px;
                width: 180px;
                background-color: #c4c4c411;
                margin: 10px;
                border-radius: 5px;
                display: grid;
                justify-content: center;
                .list-img {
                    height: 150px;
                    width: 150px;
                    background-color: #c4c4c4;
                    margin-top: 15px;
                    border-radius: 5px;
                }
                .list-data-text {
                    h3 {
                        margin: 0;
                        color: #fff;
                        font-size: 16px;
                        font-family: Poppins;
                    }
                    p {
                        color: rgb(162, 162, 162);
                        font-family: 'Poppins', sans-serif;
                        font-size: 12px;
                        letter-spacing: 1px;
                    }
                }
                //hover play btn
                .list-div-btn {
                    height: 47px;
                    width: 47px;
                    position: absolute;
                    z-index: 99;
                    background-color: #1FD660;
                    border: 0.1px solid #17171736;
                    box-shadow: 0 6px 8px #171717b8;
                    border-radius: 100%;
                    bottom: 80px;
                    right: 25px;
                    transition: transform 250ms;
                    opacity: 0;
                    img {
                        position: relative;
                        height: 20px;
                        width: auto;
                        left: 18px;
                        top: 13px;
                    }
                }
                .list-div-btn:hover {
                    height: 48px;
                    width: 48px;
                }
            }
            .list-content-data:hover {
                background-color: #c4c4c450;
                transition: all 1s;
                cursor: pointer;
                .list-div-btn {
                    transform: translateY(-25px);
                    opacity: 1;
                }
            }
        }
    }
} //main contents div