//left side container
.side-bar {
    // position: relative;
    // z-index: 1;
    background-color: $black;
    height: 100vh;
    width: 285px;
    position: sticky;
    //display: flex;
    top: 0;
    //LOGO container
    .logo-container {
        height: 40px;
        width: fit-content;
        margin: 27px;
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
            height: 42px;
            width: 42px;
            fill: $white;
            color: $white;
        }
        h3 {
            color: white;
            font-family: 'Poppins', sans-serif;
            font-size: 23px;
            margin: 7px;
            padding: 0;
        }
    } //end of spotify logo
    .side-links {
        color: #c4c4c4;
        font-family: 'Poppins', sans-serif;
        margin-top: 5px;
        margin-left: 27px;
        div {
            margin: 15px 0;
            display: flex;
            align-items: center;
            cursor: pointer;
            span {
                font-size: 14px;
            }
            span:hover {
                color: $white;
            }
        }
        img {
            width: 20px;
            height: auto;
            margin: 5px;
            margin-left: 0;
            margin-right: 20px;
        }
        .home {
            color: $white;
        }
        .library {
            img {
                height: 18px;
            }
        }
    }
} //end of side-bar