body {
  padding: 0;
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-bar {
  background-color: #000101;
  height: 100vh;
  width: 285px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.side-bar .logo-container {
  height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.side-bar .logo-container img {
  height: 42px;
  width: 42px;
  fill: #fff;
  color: #fff;
}

.side-bar .logo-container h3 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  margin: 7px;
  padding: 0;
}

.side-bar .side-links {
  color: #c4c4c4;
  font-family: 'Poppins', sans-serif;
  margin-top: 5px;
  margin-left: 27px;
}

.side-bar .side-links div {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.side-bar .side-links div span {
  font-size: 14px;
}

.side-bar .side-links div span:hover {
  color: #fff;
}

.side-bar .side-links img,
.side-bar .side-links .ls-img,
.side-bar .side-links .cp-img {
  width: 20px;
  height: auto;
  margin: 5px;
  margin-left: 0;
  margin-right: 20px;
}

.side-bar .side-links .home {
  color: #fff;
}

.side-bar .side-links .library img {
  height: 18px;
}

.side-bar .side-links .cp-and-ls {
  margin-top: 10px;
  display: inline-block;
}

.side-bar .side-links .cp-and-ls .cp-img,
.side-bar .side-links .cp-and-ls .ls-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0 !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 22px;
  width: 22px;
  border-radius: 1px;
  background-color: #c4c4c4;
}

.side-bar .side-links .cp-and-ls .cp-img b,
.side-bar .side-links .cp-and-ls .ls-img b {
  color: #000101;
  font-family: Poppins;
  font-size: 1em;
}

.side-bar .side-links .cp-and-ls .ls-img {
  background: #3900db;
  background: linear-gradient(131deg, #3900db 0%, #6f52f1 47%, #c4c4c4 89%);
}

.side-bar .side-links .cp-and-ls .ls-img b {
  font-size: 0.6em;
}

.contents {
  background: #20125a;
  background: linear-gradient(183deg, #20125a 0%, #1f1351 44%, #121313 100%);
  width: 100%;
}

.contents .nav-chev-div {
  margin: 10px auto;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contents .nav-chev-div .nav-btn-div {
  height: 30px;
  width: 30px;
  margin: auto 0;
  margin-left: 17px;
  border-radius: 100%;
  background-color: #130A33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: no-drop;
}

.contents .nav-chev-div .nav-btn-div .prev::before {
  border-style: solid;
  border-width: 0.09em 0.09em 0 0;
  content: '';
  display: inline-block;
  height: 0.60em;
  position: relative;
  top: 0.25em;
  vertical-align: top;
  width: 0.60em;
  color: #fff;
  opacity: 0.7;
  left: 0.25em;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.contents .nav-chev-div .nav-btn-div .next::before {
  border-style: solid;
  border-width: 0.09em 0.09em 0 0;
  content: '';
  display: inline-block;
  height: 0.60em;
  position: relative;
  top: 0.25em;
  vertical-align: top;
  width: 0.60em;
  color: #fff;
  opacity: 0.7;
  left: -0.17em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.contents .contents-nav-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 82vw;
  margin: 8px auto;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents .contents-nav-div .nav-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contents .contents-nav-div .nav-btn-container .upgrade-div {
  height: 32px;
  margin: 10px auto;
  margin: auto 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.9px solid #c4c4c4c4;
  border-radius: 16px;
  background-color: #020911;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.contents .contents-nav-div .nav-btn-container .upgrade-div span {
  color: #fff;
  font-family: Poppins;
  padding: 10px;
  font-size: 0.7em;
  letter-spacing: 1.75px;
  margin: 0 20px;
}

.contents .contents-nav-div .nav-btn-container .user-div {
  height: 33px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 16.5px;
  margin: auto 15px;
  background-color: #020911;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.contents .contents-nav-div .nav-btn-container .user-div .user-logo {
  height: 28px;
  width: 28px;
  margin: 1px;
  background-color: #525352;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contents .contents-nav-div .nav-btn-container .user-div .user-logo img {
  height: 65%;
  width: 65%;
}

.contents .contents-nav-div .nav-btn-container .user-div span {
  color: #fff;
  font-family: Poppins;
  padding: 7px;
  font-size: 0.8em;
}

.contents .contents-nav-div .nav-btn-container .user-div p {
  color: #fff;
  font-size: 1.25em;
  margin: 2.5px 3px;
}

.contents .hero-content {
  display: -ms-grid;
  display: grid;
  height: 80vh;
  width: 80vw;
  margin: 20px auto;
}

.contents .hero-content .greet span {
  color: #fff;
  font-family: Poppins;
  font-size: 32px;
  margin: 10px 0;
}
/*# sourceMappingURL=style.css.map */